.cell {
	width: 60px;
	height: 60px;

	font-size: 4em;

	border-radius: 5px;

	color: #191923;
	background-color: lemonchiffon;

	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-up {
	box-shadow: 0 6px 0 #818181;
}

.cell-down {
	box-shadow: none;

	transform: translateY(6px);
}
