@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	--primary-color: #FFFACD;
	--secondary-color: #191923;
	--shadow-color: #A9A9A9;
	--accent-color-red: #F08080;
	--accent-color-blue: #87CEFA;
	--accent-color-green: #90EE90;

	--primary-font: "Fredoka One";

	font-size: 8px;
	font-family: var(--primary-font), Verdana, Geneva, Tahoma, sans-serif;

	background-color: var(--secondary-color);
}
